.container{
    margin-left: 110px;
    margin-right:110px ;
    width: 992px;
}

/* header section */
.travel{
display: flex;
}
.header-title{
color: #FF5400;
}
.travel h2{
    font-size: 36px;
}
nav >ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 600px;
    margin-top: -55px;
    
}
/* banner section */
.banner {
background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
border-radius: 16px;
width: 992px;
height: 400px;
}
.banner-main{
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
.banner-title{
    margin-bottom: 150px;
}
#find{
    /* border-radius: 5px; */
background: #FF5400;
}
.Explore{
    color: #FFF;
    font-family: Mulish;
    font-size: 50px;

    font-weight: 800;
    

}
.banner ,h2 ,p{
 text-align: center;

}

.btn{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
text-align: left;

}
@media screen  and (max-width:600px) {
    .hed{
        font-size: 22px;
        
        
      }
      .banner{
        width: 335px;
        height: 600px;
        border-radius: 16px;
      }
      .container{
        margin-left:10px;
        margin-right:0px ;
        width: 600px;
    }  
    .nav ul{
      
        
    }
    .banner-main{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        gap: 16px;
        border: 2px solid chocolate;
        
    }
    .Explore{
        
        font-size: 30px;
    }
    
}